<body class="cyan loaded">
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <div id="login-page" class="row row-first">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" action="/auth/login" method="POST">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="/images/logomadsinfondo.png" alt="" class="circle responsive-img valign profile-image-login">
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input name="username" id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input name="password" id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn btn-large btn-register waves-effect waves-light button log-in" type="submit">Log In
            <i class="material-icons right">done</i>
          </button>
          </div>
        </div>         
        </div>
{{#if error}}
  <div>{{ error }}</div>
{{/if}}
      </form>
    </div>
  </div>



<div class="hiddendiv common"></div></body>