<div class="container2">
  <div class="row2">
    <img src="/images/logomadsinfondo.png" alt="" class="circle responsive-img valign profile-image-login img-signup">

    <h3>Join Us To Keep The Wifi Free</h3>
    <form class="col s12" id="reg-form" action="/auth/signup" method="post">
      <div class="row2">
        <div class="input-field col s6">
          <input name="username" id="first_name" type="text" class="validate" required>
          <label for="first_name">Name</label>
        </div>
      </div>
      <div class="row2">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row2">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate" minlength="4" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row2">
        <div class="input-field col s6">
          <button class="btn btn-large btn-register waves-effect waves-light" type="submit">Register
            <i class="material-icons right">done</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <a href="/auth/login" title="Login" class="ngl btn-floating btn-large waves-effect waves-light red"><i class="material-icons">input</i></a>
</div>