<div class="index-back">
  <form class="bar-circle">
    <h3>Madrid Free Wifis</h3>
      <p class="choose">Choose the size of the radius:</p>
    <p class="range-field">
      <input type="range" id="slide" min="500" max="5000" value="1000" />
    </p>
  </form>

 <div id="map"></div>
 </div>

<footer class="page-footer">
    <div class="container">
      <strong id="span-footer">Made by <a href="https://github.com/TeoDiaz">Teo Diaz</a> & 
      <a href="https://github.com/chrislopez24">Chris Lopez</a>
      <a class="grey-text text-lighten-4 right" href="https://github.com/WhatsInMad/whats-in-mad">Github</a>    
        </strong>
    </div>
  </footer>

<script>
  window.info = {{{ infoStr }}}
</script>

