
<div class="index-back">
  <form class="bar-circle">
      <p class="choose">Choose the size of the radius:</p>
    <p class="range-field">
      <input type="range" id="slide-user" min="500" max="5000" value="1000" />
    </p>
  </form>
 </div>
 <div id="map-user"></div>

<script>
  window.userwifi = {{{ userWifiStr }}}
</script>