<div class="index-back">  <form class="bar-circle">
  <blockquote><a class="a-users" href="/home">Go Back To Oficial Wifis</a></blockquote>
      <p class="choose">Choose the size of the radius:</p>
    <p class="range-field">
      <input type="range" id="slide-user" min="500" max="5000" value="1000" />
    </p>
  </form>
  
 <div id="map-user"></div>
</div>

<script>
  window.userwifi = {{{ userWifiStr }}}
</script>