<a href="/home">Volver a Maps Oficiales</a>
<div>
  <input type="text" placeholder="Radio de Busqueda">
</div>
<div>
  <input type="range" id="slide-user" min="500" max="5000" value="1000">
  <span  class="slider_label">1000</span>
</div>
 <div id="map-user"></div>

<script>
  window.userwifi = {{{ userWifiStr }}}
</script>