@import "wifilogo.scss";
@import"login.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100%;
}
.page-footer {
  padding: 15px;
  width: 100%;
  margin-top: -3%;
}
#map {
  margin: 1% auto;
  height: 70%;
  width: 70%;
}
#map-user {
  margin: 1% auto;
  height: 555px;
  width: 1220px;
}
#span-footer {
  font-size: 20px;
}
#span-footer > a {
  color: white;
  border-bottom: 2px solid white;
}

#new-input {
  width: 20%;
  margin-left: 17%;
}
.a-users {
  margin-left: -15%;
  text-decoration: none;
  color: #ed6e73;
}

.new-error{
  font-size: 23px;
  margin-left: 47%;
  position: absolute;
  margin-top: -4%;
  color: red;
}
.button-new {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin-left: 17%;
  text-align: center;
}

.navbar-brand a {
  color: #00b7ff;
}

.text-ul li a{
  font-size: 20px;
} 

.front-back {
  background-image: url("../images/plazamayor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.index-back {
  background-color: #c6c3c375;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.img-logo img {
  width: 37%;
  margin-top: 21%;
  margin-left: -17%;
}

.img-logo h1,
h2 {
  color: black;
  width: 56%;
  margin-left: 30%;
  margin-top: -25%;
  text-align: center;
  font-size: 2vw;
}
.connec {
  font-weight: bolder;
}

img {
  width: 50%;
}


.choose {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.bar-circle {
  padding-top: 1%;
  width: 70%;
  margin-left: 15%;
}

